$lobster-font: 'Lobster', cursive;
$main-font: 'Open Sans', sans-serif;
$active-color: #49cbcd;
$main-color: #4e525d;
$nav-fsize: 15px;
$main-fsize: 14px;


body {
    font-family: $main-font;
    font-size: $main-fsize;
    color: $main-color;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.nav-inner {
    max-height: 100px;
    height: 100%;
    line-height: 100px;
    * {
        padding: 0;
    }
    .nav-inner-ul {
        li {
                text-align: center;
                cursor: pointer; 
            }
            a {
                text-decoration: none;
                color: $main-color;
            }
            a:hover {
                color: $active-color;
                transition: color .2s linear;
            }
        li:after {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background-color: $active-color;
                opacity: 0;
                transition: 0.2s linear;
            }
        li:hover {
                background-color: #f8f9fb;
            }
        li:hover:after {
                opacity: 1;
                transition: opacity 0.2s linear;
            }
        
    }
    .home-btn {
        max-height: 100px;
        a {
            text-decoration: none;
            color: $active-color;
            font-size: 43px;
            font-family: $lobster-font;
        }
    }
}

.header-carusel {
    background: url(/../author-template/images/header.png) center no-repeat;
    background-size: cover;
    height: 100%;
    .caruser-tittle-block {
        bottom: 25%;
        .carusel-tittle-text {
            font-size: 63px;
            margin-bottom: 80px;
        }
        .caruser-tittle-p {
            font-size: 23px;
            margin: 0 auto 130px;
            width: 380px;
        }
        .carusel-tittle-btn {
            font-size: 26px;
            padding: 5px 25px;
        }
    }
}

.header-navbar {
    margin-bottom: 3px;
}

.carousel-control-next-icon{
    background-image: url(/../author-template/images/next-icon.png);
}

.carousel-control-prev-icon {
    background-image: url(/../author-template/images/prev-icon.png);
}

.carousel-indicators-display {
    display: none;
}

.benef-cards {
    padding: 100px 0;
    .benef-item {
        text-align: center;
        border: none;
        .benef-tittle {
            font-size: 22px;
            color: $main-color;
            margin: 30px 0;
        }
        .benef-item-link {
            color: #fff;
            background-color: $active-color;
            border: 1px solid $active-color;
            font-size: $main-fsize;
            font-family: $main-font;
            padding: 5px 25px;
        }
        .benef-item-link:hover {
            color: $main-color;
            background-color: #fff;
        }
        img {
            width: 100px;
            margin: 0 auto;
        }
        p {
            color: $main-color;
        }
    }
}

.portfolio {
    h2 {
        margin-bottom: 50px;
    }
    background-color: #f1f1f1;
    text-align: center;
    padding: 60px 0;
    .portfolio-container {
        .portfolio-columns {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .portfolio-block {
        padding: 20px;
        img {
            width: 100%;
            display: block;
        }
    }
    .portfolio-btn {
        &:hover {
            background-color: #f1f1f1;
            color: $main-color;
            border: 1px solid $active-color;
        }
            color: #fff;
            background-color: $active-color;
            border: 1px solid $active-color;
            font-size: 24px;
            font-family: $main-font;
            padding: 5px 30px;
            margin-top: 40px;
    }
}

.team {
    padding: 90px 0;
    .team-container {
        text-align: center;
        h2 {
            margin-bottom: 130px;
        }
        .team-block {
            border: none;
        }
        .team-img {
            width: 200px;
            margin: 0 auto;
        }
        .team-inner-text {
            margin-top: 60px;
            p {
                margin-top: 30px;
            }
        }
    }
}

.plans {
    padding: 110px 0;
    background-color: #f1f1f1;
    .plans-inner {
        text-align: center;
        margin: 0 auto;
        justify-content: space-between;
        .plans-inner-block {
            padding-left: 0;
            padding-right: 0;
            max-width: 410px;
            width: 100%;
        }
        
    }
    .plans-name {
        height: 70px;
        line-height: 70px;
        font-size: 26px;
        background-color: #485460;
        color: #fff;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
    }
    .plans-costs {
        height: 70px;
        line-height: 70px;
        font-size: 20px;
        background-color: #f8f9fb;
        color: $main-color;
    }
    .plans-items {
        div {
            height: 45px;
            line-height: 45px;
            font-size: $main-fsize;
            background-color: #fff;
            color: #8c9299;
        }
    }
    .plans-btn {
        height: 100px; 
        line-height: 100px;
        background-color: #f8f9fb;
        button {
            &:hover {
                color: #788492;
                background-color: #f8f9fb;
            }
            font-size: 17px;
            color: #fff;
            background-color: #788492;
            border: 1px solid #788492;
            padding: 7px 40px;
        }
    }
    .plans-inner-content {
        margin-bottom: 0;
    }
}

.plans-inner-mod {
    .plans-name {
        background-color: $active-color;
    }
    .plans-btn {
        button {
            &:hover{
                color: $active-color;
            }
            background-color: $active-color;
            border: 1px solid $active-color;
        }
    }
}

.footer {
    background: url(/../author-template/images/footer-bg.png) center;
    background-size: cover;
    padding: 100px 0;
    .footer-inner-contacts {
        padding: 0;
    }
    .footer-form-fields {
        input {
            &::placeholder {
                color: #c1c1c1;
            }
        }
        display: inline-block;
        width: 48%;
        margin: 20px 0;
        padding-left: 30px;
    }
    .contact-us {
        text-align: center;
        padding-bottom: 80px;
        h2 {
            color: #fff;
            font-size: 42px;
        }
    }
    .footer-inner-text {
        padding-bottom: 10px;
        h3 {
            font-size: 24px;
            color: #fff;
        }
        p {
            font-size: $main-fsize;
            color: #797979;
            max-width: 430px;
        }
    }
    .footer-info {
        p {
            margin: 0;
            color: #bface2;
        }
    }
    .footer-socials {
        margin: 25px 0;
        a {
            text-decoration: none;
            display: inline-block;
            width: 50px;
            height: 50px;
            background: #3b5997;
            border-radius: 50%;
            text-align: center;
            vertical-align: middle;
            margin-right: 10px;
        }
        .soc-twitter {
            background: #3ec2f3;
        }
        .soc-google {
            background: #e44c41;
        }
        i {
            color: #fff;
            line-height: 50px;
            font-size: 23px;
        }
    }
    .footer-inner-form {
        padding: 0;
        .footer-form {
            form {
                text-align: right;
                .footer-form-textarea {
                    textarea {
                        &::placeholder {
                            color: #c1c1c1;
                        }
                        min-height: 180px;
                        resize: none;
                    }
                    width: 96%;
                    padding-left: 25px;
                    text-align: right;
                    margin: 0 26px;
                    margin-bottom: 30px;
                }
                .footer-btn {
                    &:hover {
                        color: $main-color;
                        background-color: #fff;
                    }
                    max-width: 160px;
                    width: 100%;
                    height: 45px;
                    line-height: 22px;
                    font-size: 22px;
                    color: #fff;
                    background: $active-color;
                    border: 1px solid $active-color;
                }
            }
            
        }
    }
}